@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
.table {
  width: unset;
}

.table th,
.table td {
  padding: 0.5rem;
}
.team-badge {
  height: 50px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-badge-full {
  width: 300px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
