@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
.table {
  width: unset;
}

.league-table {
  tr {
    cursor: pointer;
  }
}
.table th,
.table td {
  padding: 0.5rem;
}
.team-badge {
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-badge-full {
  width: 300px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-title-league {
  margin-bottom: 0;
  line-height: 2;
  display: flex;
  cursor: pointer;
}

.adjust {
  table-layout: fixed;
  width: 100%;
  .badge {
    position: relative;
    top: -5px;
    margin: 0 10px;
    font-size: 100%;
  }
  .leftx,
  .rightx {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 150px;
  }
}
@media only screen and (max-width: 450px) {
  .adjust {
    font-size: 80%;
    font-weight: 400;

    .leftx,
    .rightx {
      width: 100px;
    }
  }
}
